.typewriter {
  overflow: hidden;
  white-space: nowrap;
  animation: typing 7s steps(40, end) infinite;
  display: inline-block;
}

@keyframes typing {
  0% {
    width: 0;
  }
  63.6% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
